@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(228, 228, 228);
  overflow-x: hidden;
  /* height: 500vh; */
}

h1 {
  @apply md:text-4xl text-3xl;
}

/* h3{
    @apply md:text-3xl text-xl
} */

input,
select {
  @apply border px-2 py-1 focus-within:border-orange-400 outline-none transition-all;
}

/* textarea{
    @apply p-1 rounded-md border-2 h-40
} */

button {
  @apply bg-orange-200 border-orange-100 hover:bg-orange-100 p-1 font-medium hover:rounded-sm transition-all px-5
}

.error-message {
  @apply text-red-700;
}

.w1400 {
  @apply w-[100%] max-w-[1400px] mx-auto p-2 rounded-md shadow-xl;
}
.w1400-no-shadow {
  @apply w-[100%] max-w-[1400px] mx-auto;
}

.white-yellow-text {
  @apply text-transparent bg-clip-text font-bold from-yellow-50 to-neutral-100 bg-gradient-to-b;
}
.white-orange-text {
  @apply text-transparent bg-clip-text font-bold from-orange-200 to-neutral-200 bg-gradient-to-b;
}

.white-orange-text-100 {
  @apply text-transparent bg-clip-text font-bold to-orange-300 via-white from-white bg-gradient-to-b;
}

.black-orange-text {
  @apply text-transparent bg-clip-text font-bold from-orange-700 to-neutral-800 bg-gradient-to-b;
}

.btn-dark {
  @apply bg-slate-800 text-white hover:bg-slate-700;
}
.btn-dark-orange {
  @apply bg-orange-800 text-white hover:bg-orange-700;
}

.absoluteCenter {
  @apply absolute left-[50%] translate-x-[-50%] top-[50%] translate-y-[-50%];
}

.inner_text_shadow {
    text-shadow: -1px 2px 7px rgba(255,255,255,0.8);
}
.inner_text_shadow-white {
    text-shadow: -1px 2px 7px rgb(255, 255, 255);
}

@keyframes discover {
  from {
    opacity: 0%;
    margin-top: -50px;
  }
  to {
    opacity: 100%;
    margin-top: 0px;
  }
}

.discover {
  animation-duration: 2s;
  animation-name: discover;
}
